.wpsc_checkout_table.checkout_forms .unzercw-control-label {
	padding: 0;
}

#unzercw-confirmation-ajax-authorization-form {
	font-size: 14px;
}

#unzercw-confirmation-ajax-authorization-form .control-label {
	padding-top: 0 !important;
}

.unzer-placeholder {
	min-width: 12em;
	background: white;
	border: 1px solid black;
	padding: 2px;
}

.page-checkout-confirmation #unzercw-confirmation-ajax-authorization-form .unzercw-confirmation-form .unzercw-control-label{
	padding: 0 !important;
}

.unzercw-payment-form #visibleFormFields .unzercw-payment-form-visible .control-group .control-label {
	vertical-align: initial !important;
}

.unzer-placeholder,
.unzer-mandate,
.unzerUI.form .field {
	max-width: 400px;
}

.unzer-iframe-only {
	max-height: 30px;
}

.unzerUI.form .icon {
	width: auto;
	height: auto;
}
.unzerUI.input {
	width: 100%;
}

.unzerUI.error.message {
	display: none;
}

.unzerChoices {
	display: block !important;
}

.unzerUI.form .field>label {
	display: none !important;
}

.unzerChoices__input.unzerChoices__input--cloned {
	width: 100%;
}

.field.iban.sixteen.wide.required {
	display: inline-block
}